# === Xcode ===
build/
DerivedData/
*.xcuserstate
*.xcworkspace
!default.xcworkspace
xcuserdata/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# === SwiftPM ===
.build/
Packages/
Package.pins
Package.resolved
.swiftpm/xcode/package.xcworkspace/
.swiftpm/xcode/package.xcodeproj/
.swiftpm/xcode/package.xcworkspace/xcuserdata/

# === CocoaPods ===
Pods/
Podfile.lock
*.xcworkspace

# === Carthage ===
Carthage/

# === Fastlane ===
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# === Firebase ===
GoogleService-Info.plist

# === SPM Playgrounds ===
*.playground/
timeline.xctimeline

# === User-specific files ===
*.DS_Store
*.swp
*.orig
*.backup
*.bak
*.tmp
*.log
*.env

# === App file artifacts ===
*.app
*.xcodeproj/project.xcworkspace/xcuserdata


